*{
    margin: 0;
    height: 100%;
}

body{
    width: 100%;
}
h4{
    text-align: center;
}

.col > div{
   background: lightblue; 
   height: 120px;
}
header{
    height: 600px;
    width: 400px;
}

.img-container{
    background-image: url(Header.jpg);
    height: 70%;
    background-position: center;
}
.inner-container{
    position: absolute;
    text-align: center;
    margin-top: 200px;
}

.inner-container > h1{
    color: white;
    text-align: center;
    a
}